.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background: red;
} 
.title_panel_bg{
  height:40px;
}
.mat-expansion-panel{
  border-radius: 0.375rem!important;
}
.mat-expansion-panel-header.mat-expanded{
  border-radius: 0.375rem!important;
  background-color: whitesmoke !important;
  margin-bottom: 10px;
} 